# Angular

node_modules/

dist/

.angular/

coverage/



# Spring Boot

target/

*.log



# Entorno

.env

.DS_Store

# Spring Boot - Archivos de configuración con secretos

Backend/src/main/resources/application.properties
passwords.txt

